* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    

}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: space-evenly;
    align-items: flex-end;
    justify-content: space-evenly;
    background-image: linear-gradient(rgb(230, 231, 235), rgb(29, 118, 191));
    padding-bottom: 60px;
}
.image{
    border-radius: 50%;
    margin-bottom: 50px;
}
.h1 {
    text-transform: capitalize;
    margin: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    background-color: rgb(174, 219, 216);
}

.calc {
    box-shadow: rgba(14, 30, 37, 0.2) 0px 2px 4px 0px, rgba(14, 30, 37, 0.2) 0px 2px 16px 0px;
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
}

input {
    grid-column: span 4;
    height: 68px;
    width: 258px;
    box-shadow: inset -4px -4px 10px white,
        inset 4px 4px 10px black;
    background-color: white;
    border: none;
    border-radius: 32px;
    color: rgb(26, 25, 25);
    text-align: end;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 40px;

}

button {
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
    background-color: white;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;

}

button:hover {
    box-shadow: rgba(66, 66, 66, 0.5) 5px 5px 10px;
    background-color: rgb(215, 215, 215);
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    transition: ease 0.2s;
}

.equal {
    width: 120px;
    border-radius: 42px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
    background-color: white;

}

.equal:hover {
    width: 120px;
    border-radius: 42px;
    box-shadow: rgba(66, 66, 66, 0.5) 5px 5px 10px;
    background-color: rgb(215, 215, 215);
    transition: ease 0.2s;
}